<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spiner" diameter="50"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()" >
            <img src="../../../assets/img/usuario.png" alt="usuario" width="50%">
            <h1 >Login</h1>
            <mat-form-field class="ancho" >
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" required autocapitalize="off" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho boton" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
        </form>
    </div>
</div>